h1 {
    color: white
}
body {
    background-repeat: no-repeat;
    background: rgb(0,0,0);
    background: linear-gradient(354deg, rgba(0,0,0,1) 51%, rgba(66,2,66,1) 71%, rgba(0,0,0,1) 82%, rgba(31,14,40,1) 100%);
}

.split {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    float: left;
}

.right {
    float: right;  
    right: 0;
}