{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;555&display=swap" rel="stylesheet">
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>Music Horizon</title>
</head>
<body>

    {% if user.is_authenticated %}
    <span><a href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></span>
    <span> | </span>
    <span><a href="{% url 'logout' %}">Logout</a></span>
    <span> | </span>
    {% else %}
    <span><a href="{% url 'login' %}">Login</a></span>
    <span> | </span>
    <span><a href="{% url 'signup' %}">SignUp</a></span>
    {% endif %}
    <a href="/admin">Admin</a>
    <span> | </span>
    <a href="/">Home</a>
    <span> | </span>
    <a href="/songs">Songs</a>
    <span> | </span>
    <a href="/playlists">playlist</a>
    <span> | </span>
    <a href="/playlists/new">create playlist</a>
    <span> | </span>


    {% block content %}

    {% endblock %}
</body>
</html>