{% extends 'base.html' %}
{% block content %}
<h1>playlist</h1>

{% for playlist in playlists %}

    <a href="{% url 'playlists' playlist.pk}"></a>
    <h3>{{playlist.title}}</h3>

    {% for song in playlist.songs.all %}

        <iframe style="border-radius:12px" src="{{song.audio_link}}" width="50%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

        {% endfor %}
        
        <p>Created By: 
            <a href='/user/{{playlist.user.username}}'>{{playlist.user.username}}</a>
        </p>

{% endfor %}
{% endblock %}





